$paleta-bg:(
    claro: #C3F1A7,//#DBFEB8, +23
    claro-a: #c3f1a780,
    claro-medio: #8BD09A,//#C5EDAC,
    claro-medio-a:#8BD09A80,
    medio: #83C4AE,//#99C2A2,
    medio-a: #83C4AE80,
    oscuro-medio: #60A99D,//#93B1A7,
    oscuro-medio-a: #60A99D80,
    oscuro: #569F92,//#6F8480,
    oscuro-a: #569F9280,
);

$paleta-txt:(
    claro: white,//#57af46,
    medio: #2f4b4e,
    oscuro: #111a1e,
);

$nav-unselected: rgb(220,220,220);
$nav-selected: rgb(255,255,255);