$paleta-bg:(
    claro: #ececec,
    claro-a: #ececec80,
    claro-medio: #8BD09A,//#C5EDAC,
    claro-medio-a:#8BD09A80,
    medio: #c69d81,
    medio-a: #c69d8180,
    oscuro-medio: #60A99D,//#93B1A7,
    oscuro-medio-a: #60A99D80,
    oscuro: #553528,
    oscuro-a: #55352880,
);

$paleta-txt:(
    claro: white,//#57af46,
    medio: #2f4b4e,
    oscuro: #111a1e,
);

$nav-unselected: rgb(220,220,220);
$nav-selected: rgb(255,255,255);